
.custom-bg1,
.custom-bg2,
.custom-bg3,
.custom-bg4 {
    content: '';
    position: fixed;
    top: 0;
    left: 0;
    height: 101%;
    width: 100%;
    background-repeat: repeat-x;
    background-size: auto 100%;
    pointer-events: none;
    image-rendering: pixelated;
}

.custom-bg1 {
    background-image: url("https://raw.githubusercontent.com/Baaatz07/ItchAssets/refs/heads/main/ProfilePage/BG1.png");
    z-index: -100;
}

.custom-bg2 {
    background-image: url("https://raw.githubusercontent.com/Baaatz07/ItchAssets/refs/heads/main/ProfilePage/BG2.png");
    z-index: -99;
    animation: scrollPingpong 20s infinite ease-in-out;
}



.custom-bg3 {
    background-image: url("https://raw.githubusercontent.com/Baaatz07/ItchAssets/refs/heads/main/ProfilePage/BG3.png");
    z-index: -98;
}

.custom-bg4 {
    background-image: url("https://raw.githubusercontent.com/Baaatz07/ItchAssets/refs/heads/main/ProfilePage/BG4.png");
    z-index: -97;
}

@keyframes scrollPingpong {
    0% {
        transform: translateX(-25px);
    }

    50% {
        transform: translateX(25px);
    }

    100% {
        transform: translateX(-25px);
    }
}
