
.custom-bg1,
.custom-bg2,
.custom-bg3,
.custom-bg4,
.custom-bg5 {
    content: '';
    position: fixed;
    bottom: 0;
    left: 0;
    height: 101vh;
    width: 100%;
    background-repeat: repeat-x;
    background-size: auto 100vh;
    pointer-events: none;
    image-rendering: pixelated;
}

.custom-bg1 {
    background-image: url("https://raw.githubusercontent.com/Baaatz07/ItchAssets/refs/heads/main/Games/Monstegg/BG1.png");
    z-index: -100;
}

.custom-bg2 {
    background-image: url("https://raw.githubusercontent.com/Baaatz07/ItchAssets/refs/heads/main/Games/Monstegg/BG2.png");
    z-index: -99;
    animation: scrollPingpong 20s infinite ease-in-out;
}


.custom-bg3 {
    background:
        linear-gradient(to right, #65bae3 25px, transparent 175px),
        linear-gradient(to left, #65bae3 25px, transparent 175px);
    background-repeat: no-repeat;
    background-size: 175px 100%, 175px 100%;
    background-position: left top, right top;
        z-index: -98;
}


.custom-bg4 {
    background-image: url("https://raw.githubusercontent.com/Baaatz07/ItchAssets/refs/heads/main/Games/Monstegg/BG3.png");
    z-index: -97;
}

.custom-bg5 {
    background-image: url("https://raw.githubusercontent.com/Baaatz07/ItchAssets/refs/heads/main/Games/Monstegg/BG4.png");
    z-index: -96;
}

@keyframes scrollPingpong {
    0% {
        transform: translateX(-25px);
    }

    50% {
        transform: translateX(25px);
    }

    100% {
        transform: translateX(-25px);
    }
}

#wrapper{background:none;}
